@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.left, .right {
 display: flex;
 align-items: center;
 justify-content: center;
}

.submit {
  appearance: none;
  margin-top: 6px;
  background-color: transparent;
  border: 0.125em solid #696969;
  border-radius: 4px;
  box-sizing: border-box;
  color: #696969;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .submit:disabled {
  pointer-events: none;
 }
 
 .submit:hover {
  color: #fff;
  background-color: #696969;
  box-shadow: rgba(152, 152, 152, 0.414) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .submit:active {
  box-shadow: none;
  transform: translateY(0);
 }

.signup-container {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: fit-content;
  background-color: #ffff;
  min-height: 360px;
}

.signup-container h3 {
  font-size: 20px;
  color: #252525;
  margin-left: 4px;
  margin-bottom: 10px;
  font-weight: 500;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

.signup-container .error {
 font-size: 14px;
 color: rgb(251, 28, 28);
 align-self: flex-start;
 padding-left: 4px;
}

.right{
 background-color: #ffc727;
 height: 100vh;
}

.right img {
  width: 600px;
  transition: width 0.2s ease-in-out;
}

#globalTooltip {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #16a34a;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 9999;
}

.field label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 6
  px;
  color: #696969;
}
.field input {
  background-color: #f2f1f1;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
}


.signup-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.signup-container p a {
  color: rgb(22, 94, 239);
}

@media screen and (max-width:980px) {
   .right img {
    width: 500px;
   }
}
@media screen and (max-width:850px) {
  .right {
    display: none;
  }
  .container {
    min-height: 100svh;
    grid-template-columns: 1fr;
  }
}

